@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  html,
  body {
    overflow-x: hidden;
    max-width: 100vw;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-background text-text-primary font-sans;
  }
}
